/ClothoBiofabEdition/ClothoApps/Batterboard/nbproject/private/
/ClothoBiofabEdition/ClothoProject/nbproject/private/
/ClothoBiofabEdition/ClothoProject/ClothoCore/nbproject/private/
/ClothoBiofabEdition/ClothoApps/SequenceView/nbproject/private/