/ClothoBiofabEdition/ClothoProject/ClothoCore/nbproject/private/
/ClothoBiofabEdition/ClothoApps/SequenceLight/nbproject/private/
/ClothoBiofabEdition/ClothoProject/nbproject/private/
/ClothoBiofabEdition/ClothoApps/BglBricks/nbproject/private/
/ClothoBiofabEdition/ClothoApps/SpreaditFeatures/nbproject/private/
/ClothoBiofabEdition/ClothoApps/InventoryManager/nbproject/private/
/ClothoBiofabEdition/ClothoApps/ConfigurableConnection/nbproject/private/
/ClothoBiofabEdition/ClothoApps/SequenceView/nbproject/private/
/ClothoBiofabEdition/ClothoApps/Sledrunner/nbproject/private/
/ClothoBiofabEdition/ClothoApps/GroovyScripter/nbproject/private/
/ClothoBiofabEdition/ClothoApps/SpreaditParts/nbproject/private/
/ClothoBiofabEdition/ClothoApps/CollectionViewTool/nbproject/private/
/ClothoBiofabEdition/ClothoFabApps/ToolAppBrowser/nbproject/private/
/ClothoBiofabEdition/ClothoFabApps/FabDash/nbproject/private/